<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICertificador" />
        <binding name="BasicHttpBinding_IServicioTimbrado" />
        <binding name="BasicHttpBinding_IServicioValidador" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://rds.dyndns.org:90/CertificadorWs33/ServicioValidador.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioValidador" contract="ServicioValidador.IServicioValidador" name="BasicHttpBinding_IServicioValidador" />
      <endpoint address="http://rds.dyndns.org:90/CertificadorWs33/ServicioTimbrado.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioTimbrado" contract="ServicioTimbrado.IServicioTimbrado" name="BasicHttpBinding_IServicioTimbrado" />
      <endpoint address="http://rds.dyndns.org:90/CertificadorWs33/CertificadorService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICertificador" contract="ServiceReferenceNtLink.ICertificador" name="BasicHttpBinding_ICertificador" />
    </client>
  </system.serviceModel>
  <log4net debug="false">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>